#back
{
    background: url(back-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: auto;
    height: 700px;
}

#road{
    background: url(road.jpg);
 
}

#car
{
    width: 150px;
}

#btn
{
    background-color: yellow;
    font-size: 30px;
    width: 100px;
    margin-top: 10px;
}

#dbtn
{
    justify-content: center;
    align-content: center;
    display: flex;
}